<div class="group" *ngIf="products.length; else loading" [attr.id]="category._id">
  <mat-card-title class="group__title" #target>{{category.name}}</mat-card-title>
  <div class="group__items">
    <div *ngFor="let product of products">
      <app-card-product
        [subtitle]="product.subtitle"
        [imageLink]="product.imageSrc"
        [description]="product.description"
        [price]="product.cost"
        [sale]="product.sale"
        [title]="product.name"
        [category]="product.category"
        [id]="product._id"
        [counter]="getCounter(listProductInCart$ | async, product._id)"
      ></app-card-product>
    </div>
  </div>

<!--    <mat-grid-tile *ngFor="let product of products">-->
<!--      <app-card-product-->
<!--        [subtitle]="product.subtitle"-->
<!--        [imageLink]="product.imageSrc"-->
<!--        [description]="product.description"-->
<!--        [price]="product.cost"-->
<!--        [sale]="product.sale"-->
<!--        [title]="product.name"-->
<!--        [category]="product.category"-->
<!--        [id]="product._id"-->
<!--        [counter]="getCounter(listProductInCart$ | async, product._id)"-->
<!--      ></app-card-product>-->
<!--    </mat-grid-tile>-->

</div>
<ng-template #loading>
  Загрузка данных...
</ng-template>
