<mat-card class="product-card"  >
  <mat-card-header class="product-card__header">
    <mat-card-title class="product-card__title" textDecorate [routerLink]="['/menu', category, id]" style="cursor: pointer">{{ title ? title : 'title' }}</mat-card-title>
    <mat-card-subtitle class="product-card__subtitle">{{ subtitle ? subtitle : 'subtitle' }}</mat-card-subtitle>
  </mat-card-header>
  <img *ngIf="!imageLink.length; else basicImage" [routerLink]="['/menu', category, id]" mat-card-image src="../../../../assets/image/patternCover.png" alt="{{title}}">

  <ng-template #basicImage>
      <img   [routerLink]="['/menu', category, id]" mat-card-image src="{{ imageLink }}" alt="{{title}}">

  </ng-template>

  <mat-card-content class="product-card__content">
    <p>
      {{ description ? description : 'description'  }}
    </p>
  </mat-card-content>
  <mat-card-actions class="product-card__actions">
    <div class="action-card">
      <div class="product-card__price">
        <span [ngClass]="{priceSale: sale}">{{price ? price : 0 }} ₽</span>
        <span class="sale product-card__sale" *ngIf="sale">{{sale ? sale : 0}} ₽</span>
      </div>
      <div>
        <div class="product-card__button">
          <app-counter (onChanged)="onChangedCounter($event, id)" *ngIf="counter > 0" [counter]="counter"></app-counter>
          <buttonb *ngIf="counter == 0"  [disabled]="showMode" class="button pay-btn"  (click)="addToCart()">
            В КОРЗИНУ
          </buttonb>
<!--          <button [disabled]="showMode" *ngIf="counter == 0" mat-stroked-button color="primary" (click)="addToCart()">В КОРЗИНУ</button>-->
        </div>
      </div>
    </div>
  </mat-card-actions>
</mat-card>

