.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  background-color: #fff;
  margin: 0 auto;
  max-width: 1400px;
}

.contentNew {
  padding: 65px 0;
}

.containerNew {
  width: 90%;
  margin: 0 auto;
}
