<div class="container-counter counter">
    <div class=" column">
      <button
        class="button button--outline button--circle cart__item-count-minus"
        [disabled]="counter === 1"
        (click)="changeCounter(false)">
        <mat-icon>remove</mat-icon>
      </button>
    </div>
    <div class="counter__center center column">
      {{counter}}
    </div>
    <div class="column" >
      <button class="button button--outline button--circle cart__item-count-plus" (click)="changeCounter(true)">
        <mat-icon>add</mat-icon>
      </button>
    </div>
</div>
